.is-active {
    text-decoration: none;
    color: Blue;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

.left-nav{
  text-align: start;

}
.right-nav{
    text-align: end;
}

.left-nav .link, .right-nav .link  {
    margin: 0px 10px;
}

.is-active{
    text-decoration: none;
    color: Red;
}
