.gameList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.searchInput{
    width: 30%;
    margin: 0 35%;
}

.search{
    display:block;
}
.filters {
    display: flex;
    justify-content: center;
}
.filters select {
    margin: 10px;
}